Repository AlexWayfer/module_methods: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  rubocop_script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  module_methods.gemspec
Due: rubocop, test

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about forwarding block name
  lib/module_methods/extension.rb
Due: rubocop, test

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, test

Add Ruby 4.0 support
  .cirrus.yaml
  module_methods.gemspec
Due: rubocop, test

Disable `pry-byebug` requiring in spec helper
  spec/spec_helper.rb
Due: rubocop, test

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, test

Drop Ruby 3.2 and 3.3 support
  .cirrus.yaml
  .rubocop.yml
  module_methods.gemspec
Due: rubocop, test

Add `inherit_mode` for RuboCop config
  .rubocop.yml
Due: rubocop

Return Ruby 3.2 and 3.3 support
  .cirrus.yaml
  .rubocop.yml
  module_methods.gemspec
Due: rubocop, test

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, test

Update version to 1.0.0
  CHANGELOG.md
  lib/module_methods/version.rb
Due: remark, rubocop, test

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  test: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
