Repository AlexWayfer/module_methods: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

test_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[9de43535a06c6f83e5831a90843ce83a5b56becec9aea750a7da5f79ccd328233c6bc43c4cdcac5c15cd93f18f264a82]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Update `.gitignore`
  .gitignore
Due: remark, rubocop, test

Add links for Cirrus and Depfu badges, fix link to LICENSE
  README.md
Due: remark

Fix "Development" section in README
  README.md
Due: remark

Update Cirrus CI config and `toys` file
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, test

Add my personal common RuboCop config
  .rubocop.yml
Due: rubocop

Require `toys` version with `:static` option
  module_methods.gemspec
Due: rubocop, test

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, test

Update dependencies
  module_methods.gemspec
Due: rubocop, test

Fix changelog entry for the first release
  CHANGELOG.md
Due: remark

Resolve (disable) new RuboCop offenses
  spec/module_methods/extension_spec.rb
Due: rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Update all `remark` packages
  .remarkrc.yaml
  package.json
Due: remark

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  module_methods.gemspec
Due: rubocop, test

Remove patch-version lock for stable `rubocop`
  module_methods.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  module_methods.gemspec
Due: remark, rubocop, test

Avoid Ruby 4 in gem specs
  module_methods.gemspec
Due: rubocop, test

Actualize gem specs metadata
  module_methods.gemspec
Due: rubocop, test

Lock RuboCop version better
  module_methods.gemspec
Due: rubocop, test

Drop Ruby 2.5 and 2.6 support
  .cirrus.yaml
  .rubocop.yml
  module_methods.gemspec
Due: rubocop, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Add newlines to Cirrus CI config file
  .cirrus.yaml
Due: none

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  module_methods.gemspec
  spec/spec_helper.rb
Due: rubocop, test

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: none

Move development dependencies from gemspec into Gemfile
  Gemfile
  module_methods.gemspec
Due: rubocop, test

Update Toys dependencies
  Gemfile
Due: rubocop, test

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: none

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  module_methods.gemspec
Due: rubocop, test

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: none

Don't separate major versions in Renovate
  renovate.json
Due: none
